body { padding-bottom: 70px; }

.bottom-editor{
	padding: 20px 0px 100px;
}

.sidebar-left {
    position: fixed;
    top:70px;
    left: 0;
}

.admin-content {
    padding-top:70px;
}
.right-editor {
    position: absolute;
    top:70px;
    right: -30px;
    padding: 10px 20px 100px 10px;
}
.well.right-editor-container {
	border: 1px solid #2c3e50;
}

.right-editor .element-sorter{

	border: 1px solid #2c3e50;
	width: 1200px;
}
.admin-wrapper .formly-field{
	width: 1200px;
}

.growl {
  position: fixed;
  top: 70px;
  float: right;
  z-index: 10000;
  width: 350px;
}
