<div class="panel panel-default">
	<div class="panel-heading">Orphaned Elements</div>
  	<div class="panel-body">
		<div ng-repeat="element in elements" class="element panel panel-default">
			<div class="panel-heading">{{ element.title}} 
				<div class="btn-group pull-right" role="group">
					<button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-cogs"></i>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" ng-click="dynamicLoad(element.mongolarid, 'admin/element_editor', NULL, 'modaleditor')"> edit </a>
						</li>
						<li ng-if="controller == 'content'">
							<a href="#" ng-click="dynamicLoad(element.mongolarid, 'admin/content_type', 'admin/form.html', 'modaleditor')">change content type </a>
						</li>
						<li ng-if="controller == 'content'">
							<a href="#" ng-click="dynamicLoad(element.mongolarid, 'admin/content', 'admin/form.html', 'modaleditor')">content values </a>
						</li>
						<li ng-if="controller == 'wrapper'">
							<a href="#" ng-click="dynamicLoad('elements/'+element.mongolarid, 'admin/sort_children', NULL, 'modaleditor')">
							sort children
							</a>
						</li>
						<li ng-if="controller == 'wrapper'">
							<a href="#" ng-click="dynamicLoad('elements/'+element.mongolarid, 'admin/add_child', NULL, 'modaleditor')">
							add child element
							</a>
						</li>
						<li>
							<a href="#" ng-click="serverSend('admin/delete/elements/'+element.mongolarid)">
							delete
							</a>
						</li>

					</ul>
				</div>
			</div>
  			<div class="panel-body"></div>
		</div>
   	</div>
</div>
